{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="container mt-3">

    <!-- 상세정보 보기 시작 -->
    <div class="mb-3 mt-3">
        유저네임
    </div>
    <div class="mb-3">
        패스워드
    </div>
    <div class="mb-3">
        이메일
    </div>
    <a href="/s/user/1/updateForm" class="btn btn-dark">수정</a>
    <!-- 상세정보 보기 끝 -->

</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}